In [1]:
# data frames by joining of two series
#for thus purpose first convert dataframe to dict and then pwrfoem further working

In [2]:
import pandas as pd

In [3]:
series_1=pd.Series([2,5,6,7,8,88,2,3,4,9])

In [4]:
series_2=pd.Series([2,9,6,7,4,9,7,2,3,4,4])

In [5]:
data={"ser_1":series_1,"ser_2":series_2}

In [6]:
data

{'ser_1': 0     2
 1     5
 2     6
 3     7
 4     8
 5    88
 6     2
 7     3
 8     4
 9     9
 dtype: int64,
 'ser_2': 0     2
 1     9
 2     6
 3     7
 4     4
 5     9
 6     7
 7     2
 8     3
 9     4
 10    4
 dtype: int64}

In [7]:
df=pd.DataFrame(data)

In [8]:
df

    ser_1  ser_2
0     2.0      2
1     5.0      9
2     6.0      6
3     7.0      7
4     8.0      4
5    88.0      9
6     2.0      7
7     3.0      2
8     4.0      3
9     9.0      4
10    NaN      4

In [9]:
is_null=df.isnull()

In [10]:
is_null

    ser_1  ser_2
0   False  False
1   False  False
2   False  False
3   False  False
4   False  False
5   False  False
6   False  False
7   False  False
8   False  False
9   False  False
10   True  False

In [11]:
not_null=df.notnull()

In [12]:
not_null

    ser_1  ser_2
0    True   True
1    True   True
2    True   True
3    True   True
4    True   True
5    True   True
6    True   True
7    True   True
8    True   True
9    True   True
10  False   True

# data frame from dict

In [13]:
dict={"student":["aqsa","ahmed","sania","Ayesha_liaqat","hifza kousar","Ayesha_sattar","sameen_zahid","umer","javeria","nisha",
      "muhammad hamza","raheej fatima","arham ijaz","areej fatima","mubarra aslam","noor fatima","rehman haider","anum fayaz",
      "muhammad hamza ashfaq","rimsha fayyaz","bushra riaz","zain ul abiden","minhal arshad","sawaira naveed","muhammad zain",
      "asad rauf","Taskeen zaffar","ali bin azam","Muhammad Anas","Ali hamza","ifza yousaf","abdullah tarar","habiba sajid",
      "aisha","hamza hassan","abdul mueed","shoaib ali","muhammd riaz""syed daud ali","subhan shoukat","usama","farhan ali"]}

In [14]:
dict

{'student': ['aqsa',
  'ahmed',
  'sania',
  'Ayesha_liaqat',
  'hifza kousar',
  'Ayesha_sattar',
  'sameen_zahid',
  'umer',
  'javeria',
  'nisha',
  'muhammad hamza',
  'raheej fatima',
  'arham ijaz',
  'areej fatima',
  'mubarra aslam',
  'noor fatima',
  'rehman haider',
  'anum fayaz',
  'muhammad hamza ashfaq',
  'rimsha fayyaz',
  'bushra riaz',
  'zain ul abiden',
  'minhal arshad',
  'sawaira naveed',
  'muhammad zain',
  'asad rauf',
  'Taskeen zaffar',
  'ali bin azam',
  'Muhammad Anas',
  'Ali hamza',
  'ifza yousaf',
  'abdullah tarar',
  'habiba sajid',
  'aisha',
  'hamza hassan',
  'abdul mueed',
  'shoaib ali',
  'muhammd riazsyed daud ali',
  'subhan shoukat',
  'usama',
  'farhan ali']}

In [15]:
my_dict=dict["student"]

In [16]:
my_dict

['aqsa',
 'ahmed',
 'sania',
 'Ayesha_liaqat',
 'hifza kousar',
 'Ayesha_sattar',
 'sameen_zahid',
 'umer',
 'javeria',
 'nisha',
 'muhammad hamza',
 'raheej fatima',
 'arham ijaz',
 'areej fatima',
 'mubarra aslam',
 'noor fatima',
 'rehman haider',
 'anum fayaz',
 'muhammad hamza ashfaq',
 'rimsha fayyaz',
 'bushra riaz',
 'zain ul abiden',
 'minhal arshad',
 'sawaira naveed',
 'muhammad zain',
 'asad rauf',
 'Taskeen zaffar',
 'ali bin azam',
 'Muhammad Anas',
 'Ali hamza',
 'ifza yousaf',
 'abdullah tarar',
 'habiba sajid',
 'aisha',
 'hamza hassan',
 'abdul mueed',
 'shoaib ali',
 'muhammd riazsyed daud ali',
 'subhan shoukat',
 'usama',
 'farhan ali']

In [17]:
len(my_dict)

41

In [40]:
dict={"student":["Aqsa","Ahmed","Sania","Ayesha_liaqat","Hifza kousar","Ayesha_sattar","Sameen_zahid","Umer","Javeria","Nisha",
      "Muhammad hamza","Raheej fatima","Arham ijaz","Areej fatima","Mubarra Aslam","Noor Fatima","Rehman Haider","Anum Fayaz",
      "Muhammad hamza ashfaq","Rimsha fayyaz","Bushra riaz","Zain ul abiden","Minhal arshad","Sawaira naveed","Muhammad zain",
      "Asad rauf","Taskeen zaffar","Ali bin azam","Muhammad Anas","Ali hamza","Ifza yousaf","Abdullah tarar","Habiba sajid",
      "Aisha","Hamza hassan","Abdul mueed","Shoaib ali","Muhammd riaz","Syed Daud ali","Subhan shoukat","Usama","Farhan ali"],
     "reg_no":["2020-ag-6481","2020-ag-6482","2020-ag-6483","2020-ag-6484","2020-ag-6485","2020-ag-6486","2020-ag-6487",
               "2020-ag-6488","2020-ag-6489","2020-ag-6490","2020-ag-6491","2020-ag-6492","2020-ag-6493","2020-ag-6494",
               "2020-ag-6495","2020-ag-6496","2020-ag-6497","2020-ag-6498","2020-ag-6499","2020-ag-6500","2020-ag-6501",
               "2020-ag-6502","2020-ag-6503","2020-ag-6504","2020-ag-6505","2020-ag-6506","2020-ag-6507","2020-ag-6508",
               "2020-ag-6509","2020-ag-6510","2020-ag-6511","2020-ag-6512","2020-ag-6513","2020-ag-6514","2020-ag-6516",
               "2020-ag-6517","2020-ag-6518","2020-ag-6519","2020-ag-6520","2020-ag-6521","2020-ag-6522","2020-ag-6523"],
     "city":["faisalabad","khushab","layyah","gojra shareef","karachi","faisalabad","khushab","layyah","gojra shareef","karachi",
            "faisalabad","khushab","layyah","gojra shareef","karachi","faisalabad","khushab","layyah","gojra shareef","karachi",
            "faisalabad","khushab","layyah","gojra shareef","karachi","faisalabad","khushab","layyah","gojra shareef","karachi",
            "faisalabad","khushab","layyah","gojra shareef","karachi","faisalabad","khushab","layyah","gojra shareef","karachi",
            "london","bhakkar"],
      "working status":["employeed","unemployeed","self working","unemployeed","emloyeed","employeed","unemployeed","self working","unemployeed","emloyeed",
                       "employeed","unemployeed","self working","unemployeed","emloyeed","employeed","unemployeed","self working","unemployeed","emloyeed",
                       "employeed","unemployeed","self working","unemployeed","emloyeed","employeed","unemployeed","self working","unemployeed","emloyeed",
                       "employeed","unemployeed","self working","unemployeed","emloyeed","employeed","unemployeed","self working","unemployeed","emloyeed",
                       "employeed","unemployeed"]
     }

In [41]:
my_dict1=dict["reg_no"]

In [42]:
len(my_dict1)

42

In [45]:
new_dict=pd.DataFrame(dict)

In [46]:
new_dict

                  student        reg_no           city working status
0                    Aqsa  2020-ag-6481     faisalabad      employeed
1                   Ahmed  2020-ag-6482        khushab    unemployeed
2                   Sania  2020-ag-6483         layyah   self working
3           Ayesha_liaqat  2020-ag-6484  gojra shareef    unemployeed
4            Hifza kousar  2020-ag-6485        karachi       emloyeed
5           Ayesha_sattar  2020-ag-6486     faisalabad      employeed
6            Sameen_zahid  2020-ag-6487        khushab    unemployeed
7                    Umer  2020-ag-6488         layyah   self working
8                 Javeria  2020-ag-6489  gojra shareef    unemployeed
9                   Nisha  2020-ag-6490        karachi       emloyeed
10         Muhammad hamza  2020-ag-6491     faisalabad      employeed
11          Raheej fatima  2020-ag-6492        khushab    unemployeed
12             Arham ijaz  2020-ag-6493         layyah   self working
13           Areej fatima  2020-ag-6494  gojra shareef    unemployeed
14          Mubarra Aslam  2020-ag-6495        karachi       emloyeed
15            Noor Fatima  2020-ag-6496     faisalabad      employeed
16          Rehman Haider  2020-ag-6497        khushab    unemployeed
17             Anum Fayaz  2020-ag-6498         layyah   self working
18  Muhammad hamza ashfaq  2020-ag-6499  gojra shareef    unemployeed
19          Rimsha fayyaz  2020-ag-6500        karachi       emloyeed
20            Bushra riaz  2020-ag-6501     faisalabad      employeed
21         Zain ul abiden  2020-ag-6502        khushab    unemployeed
22          Minhal arshad  2020-ag-6503         layyah   self working
23         Sawaira naveed  2020-ag-6504  gojra shareef    unemployeed
24          Muhammad zain  2020-ag-6505        karachi       emloyeed
25              Asad rauf  2020-ag-6506     faisalabad      employeed
26         Taskeen zaffar  2020-ag-6507        khushab    unemployeed
27           Ali bin azam  2020-ag-6508         layyah   self working
28          Muhammad Anas  2020-ag-6509  gojra shareef    unemployeed
29              Ali hamza  2020-ag-6510        karachi       emloyeed
30            Ifza yousaf  2020-ag-6511     faisalabad      employeed
31         Abdullah tarar  2020-ag-6512        khushab    unemployeed
32           Habiba sajid  2020-ag-6513         layyah   self working
33                  Aisha  2020-ag-6514  gojra shareef    unemployeed
34           Hamza hassan  2020-ag-6516        karachi       emloyeed
35            Abdul mueed  2020-ag-6517     faisalabad      employeed
36             Shoaib ali  2020-ag-6518        khushab    unemployeed
37           Muhammd riaz  2020-ag-6519         layyah   self working
38          Syed Daud ali  2020-ag-6520  gojra shareef    unemployeed
39         Subhan shoukat  2020-ag-6521        karachi       emloyeed
40                  Usama  2020-ag-6522         london      employeed
41             Farhan ali  2020-ag-6523        bhakkar    unemployeed

In [47]:
new_dict.head()

         student        reg_no           city working status
0           Aqsa  2020-ag-6481     faisalabad      employeed
1          Ahmed  2020-ag-6482        khushab    unemployeed
2          Sania  2020-ag-6483         layyah   self working
3  Ayesha_liaqat  2020-ag-6484  gojra shareef    unemployeed
4   Hifza kousar  2020-ag-6485        karachi       emloyeed

# PARAMETERS IN HEAD( )

In [48]:
new_dict.head(9)# can give parmetrs "n" where n represnts the number 0f rows

         student        reg_no           city working status
0           Aqsa  2020-ag-6481     faisalabad      employeed
1          Ahmed  2020-ag-6482        khushab    unemployeed
2          Sania  2020-ag-6483         layyah   self working
3  Ayesha_liaqat  2020-ag-6484  gojra shareef    unemployeed
4   Hifza kousar  2020-ag-6485        karachi       emloyeed
5  Ayesha_sattar  2020-ag-6486     faisalabad      employeed
6   Sameen_zahid  2020-ag-6487        khushab    unemployeed
7           Umer  2020-ag-6488         layyah   self working
8        Javeria  2020-ag-6489  gojra shareef    unemployeed

In [49]:
#second parameters: can give number of columns while give column name in syntax df.head(3,columns=["column1","column 2"])

In [60]:
columns=["reg_no","student","city"]
print(new_dict[columns].head(4))

         reg_no        student           city
0  2020-ag-6481           Aqsa     faisalabad
1  2020-ag-6482          Ahmed        khushab
2  2020-ag-6483          Sania         layyah
3  2020-ag-6484  Ayesha_liaqat  gojra shareef

In [61]:
new_dict = pd.DataFrame(dict)
selected_columns = ["student", "city", "working status"]
print(new_dict[selected_columns].head(31))

                  student           city working status
0                    Aqsa     faisalabad      employeed
1                   Ahmed        khushab    unemployeed
2                   Sania         layyah   self working
3           Ayesha_liaqat  gojra shareef    unemployeed
4            Hifza kousar        karachi       emloyeed
5           Ayesha_sattar     faisalabad      employeed
6            Sameen_zahid        khushab    unemployeed
7                    Umer         layyah   self working
8                 Javeria  gojra shareef    unemployeed
9                   Nisha        karachi       emloyeed
10         Muhammad hamza     faisalabad      employeed
11          Raheej fatima        khushab    unemployeed
12             Arham ijaz         layyah   self working
13           Areej fatima  gojra shareef    unemployeed
14          Mubarra Aslam        karachi       emloyeed
15            Noor Fatima     faisalabad      employeed
16          Rehman Haider        khushab    unemployeed
17             Anum Fayaz         layyah   self working
18  Muhammad hamza ashfaq  gojra shareef    unemployeed
19          Rimsha fayyaz        karachi       emloyeed
20            Bushra riaz     faisalabad      employeed
21         Zain ul abiden        khushab    unemployeed
22          Minhal arshad         layyah   self working
23         Sawaira naveed  gojra shareef    unemployeed
24          Muhammad zain        karachi       emloyeed
25              Asad rauf     faisalabad      employeed
26         Taskeen zaffar        khushab    unemployeed
27           Ali bin azam         layyah   self working
28          Muhammad Anas  gojra shareef    unemployeed
29              Ali hamza        karachi       emloyeed
30            Ifza yousaf     faisalabad      employeed

# PARAMETERS DEFINING IN TAIL

In [62]:
new_dict.tail()

           student        reg_no           city working status
37    Muhammd riaz  2020-ag-6519         layyah   self working
38   Syed Daud ali  2020-ag-6520  gojra shareef    unemployeed
39  Subhan shoukat  2020-ag-6521        karachi       emloyeed
40           Usama  2020-ag-6522         london      employeed
41      Farhan ali  2020-ag-6523        bhakkar    unemployeed

In [66]:
print(new_dict[columns].tail(2))

          reg_no     student     city
40  2020-ag-6522       Usama   london
41  2020-ag-6523  Farhan ali  bhakkar

In [67]:
new_dict.index

RangeIndex(start=0, stop=42, step=1)

In [72]:
new_dict.values

array([['Aqsa', '2020-ag-6481', 'faisalabad', 'employeed'],
       ['Ahmed', '2020-ag-6482', 'khushab', 'unemployeed'],
       ['Sania', '2020-ag-6483', 'layyah', 'self working'],
       ['Ayesha_liaqat', '2020-ag-6484', 'gojra shareef', 'unemployeed'],
       ['Hifza kousar', '2020-ag-6485', 'karachi', 'emloyeed'],
       ['Ayesha_sattar', '2020-ag-6486', 'faisalabad', 'employeed'],
       ['Sameen_zahid', '2020-ag-6487', 'khushab', 'unemployeed'],
       ['Umer', '2020-ag-6488', 'layyah', 'self working'],
       ['Javeria', '2020-ag-6489', 'gojra shareef', 'unemployeed'],
       ['Nisha', '2020-ag-6490', 'karachi', 'emloyeed'],
       ['Muhammad hamza', '2020-ag-6491', 'faisalabad', 'employeed'],
       ['Raheej fatima', '2020-ag-6492', 'khushab', 'unemployeed'],
       ['Arham ijaz', '2020-ag-6493', 'layyah', 'self working'],
       ['Areej fatima', '2020-ag-6494', 'gojra shareef', 'unemployeed'],
       ['Mubarra Aslam', '2020-ag-6495', 'karachi', 'emloyeed'],
       ['Noor Fatima', '2020-ag-6496', 'faisalabad', 'employeed'],
       ['Rehman Haider', '2020-ag-6497', 'khushab', 'unemployeed'],
       ['Anum Fayaz', '2020-ag-6498', 'layyah', 'self working'],
       ['Muhammad hamza ashfaq', '2020-ag-6499', 'gojra shareef',
        'unemployeed'],
       ['Rimsha fayyaz', '2020-ag-6500', 'karachi', 'emloyeed'],
       ['Bushra riaz', '2020-ag-6501', 'faisalabad', 'employeed'],
       ['Zain ul abiden', '2020-ag-6502', 'khushab', 'unemployeed'],
       ['Minhal arshad', '2020-ag-6503', 'layyah', 'self working'],
       ['Sawaira naveed', '2020-ag-6504', 'gojra shareef', 'unemployeed'],
       ['Muhammad zain', '2020-ag-6505', 'karachi', 'emloyeed'],
       ['Asad rauf', '2020-ag-6506', 'faisalabad', 'employeed'],
       ['Taskeen zaffar', '2020-ag-6507', 'khushab', 'unemployeed'],
       ['Ali bin azam', '2020-ag-6508', 'layyah', 'self working'],
       ['Muhammad Anas', '2020-ag-6509', 'gojra shareef', 'unemployeed'],
       ['Ali hamza', '2020-ag-6510', 'karachi', 'emloyeed'],
       ['Ifza yousaf', '2020-ag-6511', 'faisalabad', 'employeed'],
       ['Abdullah tarar', '2020-ag-6512', 'khushab', 'unemployeed'],
       ['Habiba sajid', '2020-ag-6513', 'layyah', 'self working'],
       ['Aisha', '2020-ag-6514', 'gojra shareef', 'unemployeed'],
       ['Hamza hassan', '2020-ag-6516', 'karachi', 'emloyeed'],
       ['Abdul mueed', '2020-ag-6517', 'faisalabad', 'employeed'],
       ['Shoaib ali', '2020-ag-6518', 'khushab', 'unemployeed'],
       ['Muhammd riaz', '2020-ag-6519', 'layyah', 'self working'],
       ['Syed Daud ali', '2020-ag-6520', 'gojra shareef', 'unemployeed'],
       ['Subhan shoukat', '2020-ag-6521', 'karachi', 'emloyeed'],
       ['Usama', '2020-ag-6522', 'london', 'employeed'],
       ['Farhan ali', '2020-ag-6523', 'bhakkar', 'unemployeed']],
      dtype=object)

In [70]:
new_dict.keys()

Index(['student', 'reg_no', 'city', 'working status'], dtype='object')

In [73]:
#shape
new_dict.shape

(42, 4)

In [74]:
#dimension
new_dict.ndim

2

# Accessing of data

In [76]:
new_dict["student"]

0                      Aqsa
1                     Ahmed
2                     Sania
3             Ayesha_liaqat
4              Hifza kousar
5             Ayesha_sattar
6              Sameen_zahid
7                      Umer
8                   Javeria
9                     Nisha
10           Muhammad hamza
11            Raheej fatima
12               Arham ijaz
13             Areej fatima
14            Mubarra Aslam
15              Noor Fatima
16            Rehman Haider
17               Anum Fayaz
18    Muhammad hamza ashfaq
19            Rimsha fayyaz
20              Bushra riaz
21           Zain ul abiden
22            Minhal arshad
23           Sawaira naveed
24            Muhammad zain
25                Asad rauf
26           Taskeen zaffar
27             Ali bin azam
28            Muhammad Anas
29                Ali hamza
30              Ifza yousaf
31           Abdullah tarar
32             Habiba sajid
33                    Aisha
34             Hamza hassan
35              Abdul mueed
36               Shoaib ali
37             Muhammd riaz
38            Syed Daud ali
39           Subhan shoukat
40                    Usama
41               Farhan ali
Name: student, dtype: object

In [79]:
new_dict["city"]

0        faisalabad
1           khushab
2            layyah
3     gojra shareef
4           karachi
5        faisalabad
6           khushab
7            layyah
8     gojra shareef
9           karachi
10       faisalabad
11          khushab
12           layyah
13    gojra shareef
14          karachi
15       faisalabad
16          khushab
17           layyah
18    gojra shareef
19          karachi
20       faisalabad
21          khushab
22           layyah
23    gojra shareef
24          karachi
25       faisalabad
26          khushab
27           layyah
28    gojra shareef
29          karachi
30       faisalabad
31          khushab
32           layyah
33    gojra shareef
34          karachi
35       faisalabad
36          khushab
37           layyah
38    gojra shareef
39          karachi
40           london
41          bhakkar
Name: city, dtype: object

In [80]:
ln=len(new_dict)

In [81]:
ln

42

In [82]:
# to access multiple data

In [83]:
new_dict[["student","reg_no"]]

                  student        reg_no
0                    Aqsa  2020-ag-6481
1                   Ahmed  2020-ag-6482
2                   Sania  2020-ag-6483
3           Ayesha_liaqat  2020-ag-6484
4            Hifza kousar  2020-ag-6485
5           Ayesha_sattar  2020-ag-6486
6            Sameen_zahid  2020-ag-6487
7                    Umer  2020-ag-6488
8                 Javeria  2020-ag-6489
9                   Nisha  2020-ag-6490
10         Muhammad hamza  2020-ag-6491
11          Raheej fatima  2020-ag-6492
12             Arham ijaz  2020-ag-6493
13           Areej fatima  2020-ag-6494
14          Mubarra Aslam  2020-ag-6495
15            Noor Fatima  2020-ag-6496
16          Rehman Haider  2020-ag-6497
17             Anum Fayaz  2020-ag-6498
18  Muhammad hamza ashfaq  2020-ag-6499
19          Rimsha fayyaz  2020-ag-6500
20            Bushra riaz  2020-ag-6501
21         Zain ul abiden  2020-ag-6502
22          Minhal arshad  2020-ag-6503
23         Sawaira naveed  2020-ag-6504
24          Muhammad zain  2020-ag-6505
25              Asad rauf  2020-ag-6506
26         Taskeen zaffar  2020-ag-6507
27           Ali bin azam  2020-ag-6508
28          Muhammad Anas  2020-ag-6509
29              Ali hamza  2020-ag-6510
30            Ifza yousaf  2020-ag-6511
31         Abdullah tarar  2020-ag-6512
32           Habiba sajid  2020-ag-6513
33                  Aisha  2020-ag-6514
34           Hamza hassan  2020-ag-6516
35            Abdul mueed  2020-ag-6517
36             Shoaib ali  2020-ag-6518
37           Muhammd riaz  2020-ag-6519
38          Syed Daud ali  2020-ag-6520
39         Subhan shoukat  2020-ag-6521
40                  Usama  2020-ag-6522
41             Farhan ali  2020-ag-6523

In [85]:
new_dict["age"]=[24,25,26,27,20,24,25,26,27,20,24,25,26,27,20,24,25,26,27,20,24,25,26,27,20,24,25,26,27,20,
                24,25,26,27,20,24,25,26,27,20,24,23]

In [86]:
new_dict

                  student        reg_no           city working status  age
0                    Aqsa  2020-ag-6481     faisalabad      employeed   24
1                   Ahmed  2020-ag-6482        khushab    unemployeed   25
2                   Sania  2020-ag-6483         layyah   self working   26
3           Ayesha_liaqat  2020-ag-6484  gojra shareef    unemployeed   27
4            Hifza kousar  2020-ag-6485        karachi       emloyeed   20
5           Ayesha_sattar  2020-ag-6486     faisalabad      employeed   24
6            Sameen_zahid  2020-ag-6487        khushab    unemployeed   25
7                    Umer  2020-ag-6488         layyah   self working   26
8                 Javeria  2020-ag-6489  gojra shareef    unemployeed   27
9                   Nisha  2020-ag-6490        karachi       emloyeed   20
10         Muhammad hamza  2020-ag-6491     faisalabad      employeed   24
11          Raheej fatima  2020-ag-6492        khushab    unemployeed   25
12             Arham ijaz  2020-ag-6493         layyah   self working   26
13           Areej fatima  2020-ag-6494  gojra shareef    unemployeed   27
14          Mubarra Aslam  2020-ag-6495        karachi       emloyeed   20
15            Noor Fatima  2020-ag-6496     faisalabad      employeed   24
16          Rehman Haider  2020-ag-6497        khushab    unemployeed   25
17             Anum Fayaz  2020-ag-6498         layyah   self working   26
18  Muhammad hamza ashfaq  2020-ag-6499  gojra shareef    unemployeed   27
19          Rimsha fayyaz  2020-ag-6500        karachi       emloyeed   20
20            Bushra riaz  2020-ag-6501     faisalabad      employeed   24
21         Zain ul abiden  2020-ag-6502        khushab    unemployeed   25
22          Minhal arshad  2020-ag-6503         layyah   self working   26
23         Sawaira naveed  2020-ag-6504  gojra shareef    unemployeed   27
24          Muhammad zain  2020-ag-6505        karachi       emloyeed   20
25              Asad rauf  2020-ag-6506     faisalabad      employeed   24
26         Taskeen zaffar  2020-ag-6507        khushab    unemployeed   25
27           Ali bin azam  2020-ag-6508         layyah   self working   26
28          Muhammad Anas  2020-ag-6509  gojra shareef    unemployeed   27
29              Ali hamza  2020-ag-6510        karachi       emloyeed   20
30            Ifza yousaf  2020-ag-6511     faisalabad      employeed   24
31         Abdullah tarar  2020-ag-6512        khushab    unemployeed   25
32           Habiba sajid  2020-ag-6513         layyah   self working   26
33                  Aisha  2020-ag-6514  gojra shareef    unemployeed   27
34           Hamza hassan  2020-ag-6516        karachi       emloyeed   20
35            Abdul mueed  2020-ag-6517     faisalabad      employeed   24
36             Shoaib ali  2020-ag-6518        khushab    unemployeed   25
37           Muhammd riaz  2020-ag-6519         layyah   self working   26
38          Syed Daud ali  2020-ag-6520  gojra shareef    unemployeed   27
39         Subhan shoukat  2020-ag-6521        karachi       emloyeed   20
40                  Usama  2020-ag-6522         london      employeed   24
41             Farhan ali  2020-ag-6523        bhakkar    unemployeed   23

In [87]:
new_dict["age"].max()

27

In [88]:
new_dict["reg_no"].max()

'2020-ag-6523'

In [89]:
new_dict["student"].max()

'Zain ul abiden'

# randomly applied any value by using random module

In [90]:
import numpy as np

In [91]:
import random

In [92]:
new_dict["status"]=np.random.choice(["pass","fail"],size=42)

In [93]:
new_dict

,student,reg_no,city,working status,age,status
0,Aqsa,2020-ag-6481,faisalabad,employeed,24,pass
1,Ahmed,2020-ag-6482,khushab,unemployeed,25,pass
2,Sania,2020-ag-6483,layyah,self working,26,pass
3,Ayesha_liaqat,2020-ag-6484,gojra shareef,unemployeed,27,pass
4,Hifza kousar,2020-ag-6485,karachi,emloyeed,20,fail
5,Ayesha_sattar,2020-ag-6486,faisalabad,employeed,24,fail
6,Sameen_zahid,2020-ag-6487,khushab,unemployeed,25,pass
7,Umer,2020-ag-6488,layyah,self working,26,pass
8,Javeria,2020-ag-6489,gojra shareef,unemployeed,27,pass
9,Nisha,2020-ag-6490,karachi,emloyeed,20,fail
10,Muhammad hamza,2020-ag-6491,faisalabad,employeed,24,fail
11,Raheej fatima,2020-ag-6492,khushab,unemployeed,25,fail
12,Arham ijaz,2020-ag-6493,layyah,self working,26,fail
13,Areej fatima,2020-ag-6494,gojra shareef,unemployeed,27,pass
14,Mubarra Aslam,2020-ag-6495,karachi,emloyeed,20,pass
15,Noor Fatima,2020-ag-6496,faisalabad,employeed,24,fail
16,Rehman Haider,2020-ag-6497,khushab,unemployeed,25,pass
17,Anum Fayaz,2020-ag-6498,layyah,self working,26,pass
18,Muhammad hamza ashfaq,2020-ag-6499,gojra shareef,unemployeed,27,fail
19,Rimsha fayyaz,2020-ag-6500,karachi,emloyeed,20,pass
20,Bushra riaz,2020-ag-6501,faisalabad,employeed,24,fail
21,Zain ul abiden,2020-ag-6502,khushab,unemployeed,25,pass
22,Minhal arshad,2020-ag-6503,layyah,self working,26,fail
23,Sawaira naveed,2020-ag-6504,gojra shareef,unemployeed,27,pass
24,Muhammad zain,2020-ag-6505,karachi,emloyeed,20,fail
25,Asad rauf,2020-ag-6506,faisalabad,employeed,24,pass
26,Taskeen zaffar,2020-ag-6507,khushab,unemployeed,25,pass
27,Ali bin azam,2020-ag-6508,layyah,self working,26,pass
28,Muhammad Anas,2020-ag-6509,gojra shareef,unemployeed,27,pass
29,Ali hamza,2020-ag-6510,karachi,emloyeed,20,fail
30,Ifza yousaf,2020-ag-6511,faisalabad,employeed,24,fail
31,Abdullah tarar,2020-ag-6512,khushab,unemployeed,25,pass
32,Habiba sajid,2020-ag-6513,layyah,self working,26,pass
33,Aisha,2020-ag-6514,gojra shareef,unemployeed,27,fail
34,Hamza hassan,2020-ag-6516,karachi,emloyeed,20,fail
35,Abdul mueed,2020-ag-6517,faisalabad,employeed,24,pass
36,Shoaib ali,2020-ag-6518,khushab,unemployeed,25,fail
37,Muhammd riaz,2020-ag-6519,layyah,self working,26,pass
38,Syed Daud ali,2020-ag-6520,gojra shareef,unemployeed,27,fail
39,Subhan shoukat,2020-ag-6521,karachi,emloyeed,20,fail
40,Usama,2020-ag-6522,london,employeed,24,fail
41,Farhan ali,2020-ag-6523,bhakkar,unemployeed,23,pass

In [99]:
new_dict["CGPA"]=np.random.randint(2,4,size=42)

In [100]:
new_dict

,student,reg_no,city,working status,age,status,CGPA
0,Aqsa,2020-ag-6481,faisalabad,employeed,24,pass,2
1,Ahmed,2020-ag-6482,khushab,unemployeed,25,pass,3
2,Sania,2020-ag-6483,layyah,self working,26,pass,2
3,Ayesha_liaqat,2020-ag-6484,gojra shareef,unemployeed,27,pass,3
4,Hifza kousar,2020-ag-6485,karachi,emloyeed,20,fail,2
5,Ayesha_sattar,2020-ag-6486,faisalabad,employeed,24,fail,2
6,Sameen_zahid,2020-ag-6487,khushab,unemployeed,25,pass,2
7,Umer,2020-ag-6488,layyah,self working,26,pass,3
8,Javeria,2020-ag-6489,gojra shareef,unemployeed,27,pass,3
9,Nisha,2020-ag-6490,karachi,emloyeed,20,fail,2
10,Muhammad hamza,2020-ag-6491,faisalabad,employeed,24,fail,2
11,Raheej fatima,2020-ag-6492,khushab,unemployeed,25,fail,3
12,Arham ijaz,2020-ag-6493,layyah,self working,26,fail,3
13,Areej fatima,2020-ag-6494,gojra shareef,unemployeed,27,pass,3
14,Mubarra Aslam,2020-ag-6495,karachi,emloyeed,20,pass,2
15,Noor Fatima,2020-ag-6496,faisalabad,employeed,24,fail,3
16,Rehman Haider,2020-ag-6497,khushab,unemployeed,25,pass,3
17,Anum Fayaz,2020-ag-6498,layyah,self working,26,pass,2
18,Muhammad hamza ashfaq,2020-ag-6499,gojra shareef,unemployeed,27,fail,3
19,Rimsha fayyaz,2020-ag-6500,karachi,emloyeed,20,pass,2
20,Bushra riaz,2020-ag-6501,faisalabad,employeed,24,fail,2
21,Zain ul abiden,2020-ag-6502,khushab,unemployeed,25,pass,3
22,Minhal arshad,2020-ag-6503,layyah,self working,26,fail,3
23,Sawaira naveed,2020-ag-6504,gojra shareef,unemployeed,27,pass,3
24,Muhammad zain,2020-ag-6505,karachi,emloyeed,20,fail,2
25,Asad rauf,2020-ag-6506,faisalabad,employeed,24,pass,2
26,Taskeen zaffar,2020-ag-6507,khushab,unemployeed,25,pass,3
27,Ali bin azam,2020-ag-6508,layyah,self working,26,pass,2
28,Muhammad Anas,2020-ag-6509,gojra shareef,unemployeed,27,pass,3
29,Ali hamza,2020-ag-6510,karachi,emloyeed,20,fail,2
30,Ifza yousaf,2020-ag-6511,faisalabad,employeed,24,fail,2
31,Abdullah tarar,2020-ag-6512,khushab,unemployeed,25,pass,3
32,Habiba sajid,2020-ag-6513,layyah,self working,26,pass,3
33,Aisha,2020-ag-6514,gojra shareef,unemployeed,27,fail,2
34,Hamza hassan,2020-ag-6516,karachi,emloyeed,20,fail,3
35,Abdul mueed,2020-ag-6517,faisalabad,employeed,24,pass,3
36,Shoaib ali,2020-ag-6518,khushab,unemployeed,25,fail,3
37,Muhammd riaz,2020-ag-6519,layyah,self working,26,pass,3
38,Syed Daud ali,2020-ag-6520,gojra shareef,unemployeed,27,fail,3
39,Subhan shoukat,2020-ag-6521,karachi,emloyeed,20,fail,3
40,Usama,2020-ag-6522,london,employeed,24,fail,2
41,Farhan ali,2020-ag-6523,bhakkar,unemployeed,23,pass,3

In [107]:
new_dict["mental imbalancement"]=np.random.rand(42)

In [108]:
new_dict

,student,reg_no,city,working status,age,status,CGPA,mental level,mental imbalancement
0,Aqsa,2020-ag-6481,faisalabad,employeed,24,pass,2,0.647631,0.575814
1,Ahmed,2020-ag-6482,khushab,unemployeed,25,pass,3,0.060514,0.525955
2,Sania,2020-ag-6483,layyah,self working,26,pass,2,0.180563,0.857944
3,Ayesha_liaqat,2020-ag-6484,gojra shareef,unemployeed,27,pass,3,0.607574,0.754018
4,Hifza kousar,2020-ag-6485,karachi,emloyeed,20,fail,2,0.225174,0.749419
5,Ayesha_sattar,2020-ag-6486,faisalabad,employeed,24,fail,2,0.281882,0.561510
6,Sameen_zahid,2020-ag-6487,khushab,unemployeed,25,pass,2,0.320508,0.801849
7,Umer,2020-ag-6488,layyah,self working,26,pass,3,0.187504,0.493787
8,Javeria,2020-ag-6489,gojra shareef,unemployeed,27,pass,3,0.462421,0.160821
9,Nisha,2020-ag-6490,karachi,emloyeed,20,fail,2,0.473386,0.998261
10,Muhammad hamza,2020-ag-6491,faisalabad,employeed,24,fail,2,0.693380,0.713424
11,Raheej fatima,2020-ag-6492,khushab,unemployeed,25,fail,3,0.511426,0.496692
12,Arham ijaz,2020-ag-6493,layyah,self working,26,fail,3,0.670491,0.603305
13,Areej fatima,2020-ag-6494,gojra shareef,unemployeed,27,pass,3,0.926268,0.393051
14,Mubarra Aslam,2020-ag-6495,karachi,emloyeed,20,pass,2,0.767985,0.369351
15,Noor Fatima,2020-ag-6496,faisalabad,employeed,24,fail,3,0.921888,0.105166
16,Rehman Haider,2020-ag-6497,khushab,unemployeed,25,pass,3,0.314407,0.441723
17,Anum Fayaz,2020-ag-6498,layyah,self working,26,pass,2,0.656499,0.105328
18,Muhammad hamza ashfaq,2020-ag-6499,gojra shareef,unemployeed,27,fail,3,0.907634,0.541341
19,Rimsha fayyaz,2020-ag-6500,karachi,emloyeed,20,pass,2,0.042661,0.084112
20,Bushra riaz,2020-ag-6501,faisalabad,employeed,24,fail,2,0.559970,0.051027
21,Zain ul abiden,2020-ag-6502,khushab,unemployeed,25,pass,3,0.514952,0.933445
22,Minhal arshad,2020-ag-6503,layyah,self working,26,fail,3,0.944478,0.276937
23,Sawaira naveed,2020-ag-6504,gojra shareef,unemployeed,27,pass,3,0.093921,0.569452
24,Muhammad zain,2020-ag-6505,karachi,emloyeed,20,fail,2,0.095946,0.720134
25,Asad rauf,2020-ag-6506,faisalabad,employeed,24,pass,2,0.570753,0.711467
26,Taskeen zaffar,2020-ag-6507,khushab,unemployeed,25,pass,3,0.721435,0.486388
27,Ali bin azam,2020-ag-6508,layyah,self working,26,pass,2,0.922318,0.105604
28,Muhammad Anas,2020-ag-6509,gojra shareef,unemployeed,27,pass,3,0.384386,0.592157
29,Ali hamza,2020-ag-6510,karachi,emloyeed,20,fail,2,0.002998,0.534257
30,Ifza yousaf,2020-ag-6511,faisalabad,employeed,24,fail,2,0.949803,0.681785
31,Abdullah tarar,2020-ag-6512,khushab,unemployeed,25,pass,3,0.909303,0.587662
32,Habiba sajid,2020-ag-6513,layyah,self working,26,pass,3,0.298292,0.425184
33,Aisha,2020-ag-6514,gojra shareef,unemployeed,27,fail,2,0.250388,0.472010
34,Hamza hassan,2020-ag-6516,karachi,emloyeed,20,fail,3,0.444853,0.641211
35,Abdul mueed,2020-ag-6517,faisalabad,employeed,24,pass,3,0.722005,0.598159
36,Shoaib ali,2020-ag-6518,khushab,unemployeed,25,fail,3,0.845152,0.279058
37,Muhammd riaz,2020-ag-6519,layyah,self working,26,pass,3,0.935934,0.582996
38,Syed Daud ali,2020-ag-6520,gojra shareef,unemployeed,27,fail,3,0.672201,0.386494
39,Subhan shoukat,2020-ag-6521,karachi,emloyeed,20,fail,3,0.516144,0.903004
40,Usama,2020-ag-6522,london,employeed,24,fail,2,0.723409,0.100180
41,Farhan ali,2020-ag-6523,bhakkar,unemployeed,23,pass,3,0.438031,0.178647

In [110]:

# Create a DataFrame with 5 rows and 1 column
df = pd.DataFrame(columns=["A"], index=range(5))
# Define the range for the random values
min_value = 1.0
max_value = 10.0

# Assign random values within the specified range to the DataFrame column
df["A"] = np.random.rand(5) * (max_value - min_value) + min_value

print(df)

          A
0  6.778549
1  1.504594
2  5.401121
3  4.146005
4  3.989396

In [111]:
new_dict["CGPA"].max()-new_dict["CGPA"].min()

1

In [117]:
new_dict["martial status"]=np.random.choice(["married","unmarried"],size=42) # size is compulsory

In [118]:
new_dict

,student,reg_no,city,working status,age,status,CGPA,mental level,mental imbalancement,martial status
0,Aqsa,2020-ag-6481,faisalabad,employeed,24,pass,2,0.647631,0.575814,married
1,Ahmed,2020-ag-6482,khushab,unemployeed,25,pass,3,0.060514,0.525955,unmarried
2,Sania,2020-ag-6483,layyah,self working,26,pass,2,0.180563,0.857944,unmarried
3,Ayesha_liaqat,2020-ag-6484,gojra shareef,unemployeed,27,pass,3,0.607574,0.754018,married
4,Hifza kousar,2020-ag-6485,karachi,emloyeed,20,fail,2,0.225174,0.749419,unmarried
5,Ayesha_sattar,2020-ag-6486,faisalabad,employeed,24,fail,2,0.281882,0.561510,married
6,Sameen_zahid,2020-ag-6487,khushab,unemployeed,25,pass,2,0.320508,0.801849,married
7,Umer,2020-ag-6488,layyah,self working,26,pass,3,0.187504,0.493787,married
8,Javeria,2020-ag-6489,gojra shareef,unemployeed,27,pass,3,0.462421,0.160821,unmarried
9,Nisha,2020-ag-6490,karachi,emloyeed,20,fail,2,0.473386,0.998261,married
10,Muhammad hamza,2020-ag-6491,faisalabad,employeed,24,fail,2,0.693380,0.713424,married
11,Raheej fatima,2020-ag-6492,khushab,unemployeed,25,fail,3,0.511426,0.496692,married
12,Arham ijaz,2020-ag-6493,layyah,self working,26,fail,3,0.670491,0.603305,unmarried
13,Areej fatima,2020-ag-6494,gojra shareef,unemployeed,27,pass,3,0.926268,0.393051,unmarried
14,Mubarra Aslam,2020-ag-6495,karachi,emloyeed,20,pass,2,0.767985,0.369351,married
15,Noor Fatima,2020-ag-6496,faisalabad,employeed,24,fail,3,0.921888,0.105166,married
16,Rehman Haider,2020-ag-6497,khushab,unemployeed,25,pass,3,0.314407,0.441723,unmarried
17,Anum Fayaz,2020-ag-6498,layyah,self working,26,pass,2,0.656499,0.105328,unmarried
18,Muhammad hamza ashfaq,2020-ag-6499,gojra shareef,unemployeed,27,fail,3,0.907634,0.541341,married
19,Rimsha fayyaz,2020-ag-6500,karachi,emloyeed,20,pass,2,0.042661,0.084112,married
20,Bushra riaz,2020-ag-6501,faisalabad,employeed,24,fail,2,0.559970,0.051027,married
21,Zain ul abiden,2020-ag-6502,khushab,unemployeed,25,pass,3,0.514952,0.933445,unmarried
22,Minhal arshad,2020-ag-6503,layyah,self working,26,fail,3,0.944478,0.276937,married
23,Sawaira naveed,2020-ag-6504,gojra shareef,unemployeed,27,pass,3,0.093921,0.569452,married
24,Muhammad zain,2020-ag-6505,karachi,emloyeed,20,fail,2,0.095946,0.720134,unmarried
25,Asad rauf,2020-ag-6506,faisalabad,employeed,24,pass,2,0.570753,0.711467,unmarried
26,Taskeen zaffar,2020-ag-6507,khushab,unemployeed,25,pass,3,0.721435,0.486388,married
27,Ali bin azam,2020-ag-6508,layyah,self working,26,pass,2,0.922318,0.105604,unmarried
28,Muhammad Anas,2020-ag-6509,gojra shareef,unemployeed,27,pass,3,0.384386,0.592157,unmarried
29,Ali hamza,2020-ag-6510,karachi,emloyeed,20,fail,2,0.002998,0.534257,unmarried
30,Ifza yousaf,2020-ag-6511,faisalabad,employeed,24,fail,2,0.949803,0.681785,unmarried
31,Abdullah tarar,2020-ag-6512,khushab,unemployeed,25,pass,3,0.909303,0.587662,unmarried
32,Habiba sajid,2020-ag-6513,layyah,self working,26,pass,3,0.298292,0.425184,unmarried
33,Aisha,2020-ag-6514,gojra shareef,unemployeed,27,fail,2,0.250388,0.472010,unmarried
34,Hamza hassan,2020-ag-6516,karachi,emloyeed,20,fail,3,0.444853,0.641211,unmarried
35,Abdul mueed,2020-ag-6517,faisalabad,employeed,24,pass,3,0.722005,0.598159,unmarried
36,Shoaib ali,2020-ag-6518,khushab,unemployeed,25,fail,3,0.845152,0.279058,married
37,Muhammd riaz,2020-ag-6519,layyah,self working,26,pass,3,0.935934,0.582996,unmarried
38,Syed Daud ali,2020-ag-6520,gojra shareef,unemployeed,27,fail,3,0.672201,0.386494,married
39,Subhan shoukat,2020-ag-6521,karachi,emloyeed,20,fail,3,0.516144,0.903004,married
40,Usama,2020-ag-6522,london,employeed,24,fail,2,0.723409,0.100180,unmarried
41,Farhan ali,2020-ag-6523,bhakkar,unemployeed,23,pass,3,0.438031,0.178647,unmarried

# conditional working

In [119]:
new_dict1=new_dict.copy()

In [120]:
new_dict1

,student,reg_no,city,working status,age,status,CGPA,mental level,mental imbalancement,martial status
0,Aqsa,2020-ag-6481,faisalabad,employeed,24,pass,2,0.647631,0.575814,married
1,Ahmed,2020-ag-6482,khushab,unemployeed,25,pass,3,0.060514,0.525955,unmarried
2,Sania,2020-ag-6483,layyah,self working,26,pass,2,0.180563,0.857944,unmarried
3,Ayesha_liaqat,2020-ag-6484,gojra shareef,unemployeed,27,pass,3,0.607574,0.754018,married
4,Hifza kousar,2020-ag-6485,karachi,emloyeed,20,fail,2,0.225174,0.749419,unmarried
5,Ayesha_sattar,2020-ag-6486,faisalabad,employeed,24,fail,2,0.281882,0.561510,married
6,Sameen_zahid,2020-ag-6487,khushab,unemployeed,25,pass,2,0.320508,0.801849,married
7,Umer,2020-ag-6488,layyah,self working,26,pass,3,0.187504,0.493787,married
8,Javeria,2020-ag-6489,gojra shareef,unemployeed,27,pass,3,0.462421,0.160821,unmarried
9,Nisha,2020-ag-6490,karachi,emloyeed,20,fail,2,0.473386,0.998261,married
10,Muhammad hamza,2020-ag-6491,faisalabad,employeed,24,fail,2,0.693380,0.713424,married
11,Raheej fatima,2020-ag-6492,khushab,unemployeed,25,fail,3,0.511426,0.496692,married
12,Arham ijaz,2020-ag-6493,layyah,self working,26,fail,3,0.670491,0.603305,unmarried
13,Areej fatima,2020-ag-6494,gojra shareef,unemployeed,27,pass,3,0.926268,0.393051,unmarried
14,Mubarra Aslam,2020-ag-6495,karachi,emloyeed,20,pass,2,0.767985,0.369351,married
15,Noor Fatima,2020-ag-6496,faisalabad,employeed,24,fail,3,0.921888,0.105166,married
16,Rehman Haider,2020-ag-6497,khushab,unemployeed,25,pass,3,0.314407,0.441723,unmarried
17,Anum Fayaz,2020-ag-6498,layyah,self working,26,pass,2,0.656499,0.105328,unmarried
18,Muhammad hamza ashfaq,2020-ag-6499,gojra shareef,unemployeed,27,fail,3,0.907634,0.541341,married
19,Rimsha fayyaz,2020-ag-6500,karachi,emloyeed,20,pass,2,0.042661,0.084112,married
20,Bushra riaz,2020-ag-6501,faisalabad,employeed,24,fail,2,0.559970,0.051027,married
21,Zain ul abiden,2020-ag-6502,khushab,unemployeed,25,pass,3,0.514952,0.933445,unmarried
22,Minhal arshad,2020-ag-6503,layyah,self working,26,fail,3,0.944478,0.276937,married
23,Sawaira naveed,2020-ag-6504,gojra shareef,unemployeed,27,pass,3,0.093921,0.569452,married
24,Muhammad zain,2020-ag-6505,karachi,emloyeed,20,fail,2,0.095946,0.720134,unmarried
25,Asad rauf,2020-ag-6506,faisalabad,employeed,24,pass,2,0.570753,0.711467,unmarried
26,Taskeen zaffar,2020-ag-6507,khushab,unemployeed,25,pass,3,0.721435,0.486388,married
27,Ali bin azam,2020-ag-6508,layyah,self working,26,pass,2,0.922318,0.105604,unmarried
28,Muhammad Anas,2020-ag-6509,gojra shareef,unemployeed,27,pass,3,0.384386,0.592157,unmarried
29,Ali hamza,2020-ag-6510,karachi,emloyeed,20,fail,2,0.002998,0.534257,unmarried
30,Ifza yousaf,2020-ag-6511,faisalabad,employeed,24,fail,2,0.949803,0.681785,unmarried
31,Abdullah tarar,2020-ag-6512,khushab,unemployeed,25,pass,3,0.909303,0.587662,unmarried
32,Habiba sajid,2020-ag-6513,layyah,self working,26,pass,3,0.298292,0.425184,unmarried
33,Aisha,2020-ag-6514,gojra shareef,unemployeed,27,fail,2,0.250388,0.472010,unmarried
34,Hamza hassan,2020-ag-6516,karachi,emloyeed,20,fail,3,0.444853,0.641211,unmarried
35,Abdul mueed,2020-ag-6517,faisalabad,employeed,24,pass,3,0.722005,0.598159,unmarried
36,Shoaib ali,2020-ag-6518,khushab,unemployeed,25,fail,3,0.845152,0.279058,married
37,Muhammd riaz,2020-ag-6519,layyah,self working,26,pass,3,0.935934,0.582996,unmarried
38,Syed Daud ali,2020-ag-6520,gojra shareef,unemployeed,27,fail,3,0.672201,0.386494,married
39,Subhan shoukat,2020-ag-6521,karachi,emloyeed,20,fail,3,0.516144,0.903004,married
40,Usama,2020-ag-6522,london,employeed,24,fail,2,0.723409,0.100180,unmarried
41,Farhan ali,2020-ag-6523,bhakkar,unemployeed,23,pass,3,0.438031,0.178647,unmarried

In [126]:
new_dict["opportunities"]=["can be able to do job" if CGpa==3 else "work hard" for CGpa in new_dict["CGPA"]]

In [127]:
new_dict

,student,reg_no,city,working status,age,status,CGPA,mental level,mental imbalancement,martial status,opportunities
0,Aqsa,2020-ag-6481,faisalabad,employeed,24,pass,2,0.647631,0.575814,married,work hard
1,Ahmed,2020-ag-6482,khushab,unemployeed,25,pass,3,0.060514,0.525955,unmarried,can be able to do job
2,Sania,2020-ag-6483,layyah,self working,26,pass,2,0.180563,0.857944,unmarried,work hard
3,Ayesha_liaqat,2020-ag-6484,gojra shareef,unemployeed,27,pass,3,0.607574,0.754018,married,can be able to do job
4,Hifza kousar,2020-ag-6485,karachi,emloyeed,20,fail,2,0.225174,0.749419,unmarried,work hard
5,Ayesha_sattar,2020-ag-6486,faisalabad,employeed,24,fail,2,0.281882,0.561510,married,work hard
6,Sameen_zahid,2020-ag-6487,khushab,unemployeed,25,pass,2,0.320508,0.801849,married,work hard
7,Umer,2020-ag-6488,layyah,self working,26,pass,3,0.187504,0.493787,married,can be able to do job
8,Javeria,2020-ag-6489,gojra shareef,unemployeed,27,pass,3,0.462421,0.160821,unmarried,can be able to do job
9,Nisha,2020-ag-6490,karachi,emloyeed,20,fail,2,0.473386,0.998261,married,work hard
10,Muhammad hamza,2020-ag-6491,faisalabad,employeed,24,fail,2,0.693380,0.713424,married,work hard
11,Raheej fatima,2020-ag-6492,khushab,unemployeed,25,fail,3,0.511426,0.496692,married,can be able to do job
12,Arham ijaz,2020-ag-6493,layyah,self working,26,fail,3,0.670491,0.603305,unmarried,can be able to do job
13,Areej fatima,2020-ag-6494,gojra shareef,unemployeed,27,pass,3,0.926268,0.393051,unmarried,can be able to do job
14,Mubarra Aslam,2020-ag-6495,karachi,emloyeed,20,pass,2,0.767985,0.369351,married,work hard
15,Noor Fatima,2020-ag-6496,faisalabad,employeed,24,fail,3,0.921888,0.105166,married,can be able to do job
16,Rehman Haider,2020-ag-6497,khushab,unemployeed,25,pass,3,0.314407,0.441723,unmarried,can be able to do job
17,Anum Fayaz,2020-ag-6498,layyah,self working,26,pass,2,0.656499,0.105328,unmarried,work hard
18,Muhammad hamza ashfaq,2020-ag-6499,gojra shareef,unemployeed,27,fail,3,0.907634,0.541341,married,can be able to do job
19,Rimsha fayyaz,2020-ag-6500,karachi,emloyeed,20,pass,2,0.042661,0.084112,married,work hard
20,Bushra riaz,2020-ag-6501,faisalabad,employeed,24,fail,2,0.559970,0.051027,married,work hard
21,Zain ul abiden,2020-ag-6502,khushab,unemployeed,25,pass,3,0.514952,0.933445,unmarried,can be able to do job
22,Minhal arshad,2020-ag-6503,layyah,self working,26,fail,3,0.944478,0.276937,married,can be able to do job
23,Sawaira naveed,2020-ag-6504,gojra shareef,unemployeed,27,pass,3,0.093921,0.569452,married,can be able to do job
24,Muhammad zain,2020-ag-6505,karachi,emloyeed,20,fail,2,0.095946,0.720134,unmarried,work hard
25,Asad rauf,2020-ag-6506,faisalabad,employeed,24,pass,2,0.570753,0.711467,unmarried,work hard
26,Taskeen zaffar,2020-ag-6507,khushab,unemployeed,25,pass,3,0.721435,0.486388,married,can be able to do job
27,Ali bin azam,2020-ag-6508,layyah,self working,26,pass,2,0.922318,0.105604,unmarried,work hard
28,Muhammad Anas,2020-ag-6509,gojra shareef,unemployeed,27,pass,3,0.384386,0.592157,unmarried,can be able to do job
29,Ali hamza,2020-ag-6510,karachi,emloyeed,20,fail,2,0.002998,0.534257,unmarried,work hard
30,Ifza yousaf,2020-ag-6511,faisalabad,employeed,24,fail,2,0.949803,0.681785,unmarried,work hard
31,Abdullah tarar,2020-ag-6512,khushab,unemployeed,25,pass,3,0.909303,0.587662,unmarried,can be able to do job
32,Habiba sajid,2020-ag-6513,layyah,self working,26,pass,3,0.298292,0.425184,unmarried,can be able to do job
33,Aisha,2020-ag-6514,gojra shareef,unemployeed,27,fail,2,0.250388,0.472010,unmarried,work hard
34,Hamza hassan,2020-ag-6516,karachi,emloyeed,20,fail,3,0.444853,0.641211,unmarried,can be able to do job
35,Abdul mueed,2020-ag-6517,faisalabad,employeed,24,pass,3,0.722005,0.598159,unmarried,can be able to do job
36,Shoaib ali,2020-ag-6518,khushab,unemployeed,25,fail,3,0.845152,0.279058,married,can be able to do job
37,Muhammd riaz,2020-ag-6519,layyah,self working,26,pass,3,0.935934,0.582996,unmarried,can be able to do job
38,Syed Daud ali,2020-ag-6520,gojra shareef,unemployeed,27,fail,3,0.672201,0.386494,married,can be able to do job
39,Subhan shoukat,2020-ag-6521,karachi,emloyeed,20,fail,3,0.516144,0.903004,married,can be able to do job
40,Usama,2020-ag-6522,london,employeed,24,fail,2,0.723409,0.100180,unmarried,work hard
41,Farhan ali,2020-ag-6523,bhakkar,unemployeed,23,pass,3,0.438031,0.178647,unmarried,can be able to do job

# Data set from python _list

In [129]:
list=[[1,2,3,4,5,6,7,8,9],["javeria","malik","ayesha","arooj","noor","bisma","fatima","jiya","JM"]]

In [130]:
new_list=pd.DataFrame(list)

In [131]:
new_list

         0      1       2      3     4      5       6     7   8
0        1      2       3      4     5      6       7     8   9
1  javeria  malik  ayesha  arooj  noor  bisma  fatima  jiya  JM

give index

In [132]:
new_list=pd.DataFrame(list,index=[1,2],columns=["hope","care","evil","fairy","princes","sweet plus sour","cute","innocent","caring"])

In [133]:
new_list

,hope,care,evil,fairy,princes,sweet plus sour,cute,innocent,caring
1,1,2,3,4,5,6,7,8,9
2,javeria,malik,ayesha,arooj,noor,bisma,fatima,jiya,JM

In [135]:
list=[[1,2,3,4,5,6,7,8,9],["javeria","malik","ayesha","arooj","noor","bisma","fatima","jiya","JM"],["happy","sad","happy","sad",
                                                                                                   "happy","sad","happy","sad",
                                                                                                   "happy"]]

In [137]:
new_list=pd.DataFrame(list,index=[1,2,3],columns=["hope","care","evil","fairy","princes","sweet plus sour","cute","innocent","caring"])

In [138]:
new_list

,hope,care,evil,fairy,princes,sweet plus sour,cute,innocent,caring
1,1,2,3,4,5,6,7,8,9
2,javeria,malik,ayesha,arooj,noor,bisma,fatima,jiya,JM
3,happy,sad,happy,sad,happy,sad,happy,sad,happy