# convert dictionary to series

In [2]:
dic={1:"j","m":5,"n":6}

In [3]:
dic

{1: 'j', 'm': 5, 'n': 6}

In [4]:
import pandas as pd

In [5]:
p=pd.Series(dic)

In [6]:
p

1    j
m    5
n    6
dtype: object

In [7]:
p.any()

'j'

In [8]:
dic = {"j":"4","m":5, "n": 6}

In [9]:
import pandas as pd

p = pd.Series(dic)

In [10]:
p

j    4
m    5
n    6
dtype: object

In [11]:
print(p.any())

4

In [12]:
week_days={"a":"b","c":"d","e":"f","g":"h"}

In [13]:
week_series=pd.Series(week_days)

In [14]:
week_series

a    b
c    d
e    f
g    h
dtype: object

In [15]:
print(week_series.any())

b

In [16]:
week_days={"a":3,"c":4,"e":5,"g":6}

In [17]:
week_series=pd.Series(week_days)

In [18]:
week_series

a    3
c    4
e    5
g    6
dtype: int64

In [19]:
print(week_series.any())

True

In [20]:
week_series*2

a     6
c     8
e    10
g    12
dtype: int64

In [21]:
import numpy as np

In [22]:
np.exp(week_series)

a     20.085537
c     54.598150
e    148.413159
g    403.428793
dtype: float64

In [23]:
"""n you are only passing a dict, the index in the resulting Series will have the dict’s
keys in sorted order. You can override this by passing the dict keys in the order you
want them to appear in the resulting Series"""

'n you are only passing a dict, the index in the resulting Series will have the dict’s\nkeys in sorted order. You can override this by passing the dict keys in the order you\nwant them to appear in the resulting Series'

In [24]:
countries={"pak":4500,"india":6700,"bangladesh":8900,"afghanistan":9000}

In [25]:
countries

{'pak': 4500, 'india': 6700, 'bangladesh': 8900, 'afghanistan': 9000}

In [26]:
data=["india","pakistan","khi","usa"]

In [27]:
s=pd.Series(countries,index=data)# will give value to these which are in counties ither behave null

In [28]:
s

india       6700.0
pakistan       NaN
khi            NaN
usa            NaN
dtype: float64

In [29]:
data1=["india","pak","afghanistan"]

In [30]:
f=pd.Series(countries,index=data1)

# use of isnull

In [34]:
pd.isnull(s)

india       False
pakistan     True
khi          True
usa          True
dtype: bool

In [35]:
f

india          6700
pak            4500
afghanistan    9000
dtype: int64

In [36]:
pd.isnull(f)

india          False
pak            False
afghanistan    False
dtype: bool

# notnull

In [37]:
pd.notnull(f)

india          True
pak            True
afghanistan    True
dtype: bool